.btn-explore {
  margin-top: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #6900f4;
  display: flex;
  align-items: center;
  .ex-text-lg {
    display: block;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .ex-text-md {
    display: none;
    @media only screen and (max-width: 768px) {
      display: block;
      font-size: 16px;
    }
  }
}

.hero-section {
  padding-top: 190px;
  width: 100%;
  height: 1032px;
  background-image: url("/bg-page-1.png");
  background-size: cover;
  @media only screen and (max-width: 768px) {
    background-image: url("/filter.jpg");
   background-size: cover;
    height: 600px;
    padding-top: 125px;
    padding-bottom: 125px;
  }
  .hero-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    letter-spacing: 1px;
    width: 513px;
    margin: auto;
    background: linear-gradient(91.22deg, #a568ef 16%, #ff9191 103.7%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @media only screen and (max-width: 768px) {
      width: 327px;
      font-size: 40px;
      line-height: 45px;
      font-weight: 500;
    }
  }
  .hero-subtitle {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #4e4b66;
    width: 513px;
    margin: auto;
    margin-top: 32px;
    @media only screen and (max-width: 768px) {
      width: 274px;
      font-size: 14px;
      line-height: 19px;
      margin-top: 15px;
      opacity: 0.8;
    }
  }

  .btn-explore {
    width: 100%;
    margin: auto;
    z-index: 1000;
    position: absolute;
    left: 30%;
    width: 40%;
    margin-top: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 768px) {
      left: 10%;
      width: 80%;
      margin-top: 56px;
      font-size: 16px;
    }
  }
}

.bg-il-1,
.bg-il-1-md {
  position: absolute;
  width: 80%;
  height: auto;
  left: 10%;
  top: 288px;
  z-index: 2;
}
.bg-il-1-md {
  display: none;
}
.bg-il-1 {
  display: block;
}
@media only screen and (max-width: 768px) {
  .bg-il-1 {
    display: none;
  }
  .bg-il-1-md {
    display: block;
    width: 96%;
    left: 2%;
  }
}
.bg-b {
  background-image: url("/bg-page-1-b.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  top: 900px;
  height: 167px;
  z-index: 3;
  @media only screen and (max-width: 768px) {
    top: 450px;
  }
}

.secret-boxes {
  margin-top: -88px;
  width: 88%;
  margin-left: 12%;
  padding: 50px;
  padding-right: 12%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: white;
  background: linear-gradient(
    104.93deg,
    #ffffff 3.26%,
    rgba(255, 255, 255, 0) 92.12%
  );
  backdrop-filter: blur(28px);
  border-radius: 75px 0px 75px 75px;
  z-index: 100;
  position: relative;
  .btn-exlpore-mobile {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0%;
    padding: 20px;
    margin-top: -50px;
    .btn-exlpore-mobile {
      display: flex;
      text-align: center;
      margin: auto;
      margin-top: -50px;
      margin-bottom: 50px;
      font-size: 16px;
    }
  }
  .secret-box-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #000000;
    width: 35%;
    @media only screen and (max-width: 768px) {
      width: 100%;
      font-size: 40px;
    }
  }
  .secret-box-subtitle svg {
    position: absolute;
    top: 10px;
    @media only screen and (max-width: 768px) {
      top: -10px;
      left: 30px;
    }
  }
  .secret-box-desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    padding-left: 43px;
    color: #000000;
    width: 65%;
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      padding-left: 0;
      color: #4e4b66;
      opacity: 0.8;
      .btn-explore {
        display: none;
      }
    }
  }

  .box-list {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
      margin-top: 30px;
      margin-bottom: 50px;
    }
    .box-list-item {
      width: 100%;
      @media only screen and (max-width: 768px) {
        width: 50%;
        margin-bottom: 50px;
      }
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.75px;
        color: #000000;
        padding-top: 34px;
        width: 100%;
        justify-content: center;
      }
      img {
        margin: auto;
      }
      .img-md {
        display: none;
        height: 84px;
      }
      .img-lg {
        display: block;
      }
      @media only screen and (max-width: 768px) {
        span {
          font-size: 12px;
          padding-top: 8px;
          color: #4e4b66;
        }
        .img-md {
          display: block;
        }
        .img-lg {
          display: none;
        }
      }
    }
  }
}

.mission {
  padding: 0 24px;
  width: 90%;
  margin-left: 10%;
  padding: 43px;
  padding-right: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0%;
    padding: 20px;
  }
  .mission-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #000000;
    width: 30%;
    padding: 43px;
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 10px;
      font-size: 40px;
    }
  }
  .mission-subtitle {
    margin-top: -40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #8440ff;
    svg {
      margin-right: 10px;
    }
    @media only screen and (max-width: 768px) {
      span {
        width: 100%;
        padding: 20px 0;
      }
    }
  }
  .mission-desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    padding: 43px;
    color: #000000;
    width: 70%;
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 10px;
      color: #4e4b66;
      opacity: 0.8;
    }
  }
  .mission-img img {
    max-width: 100%;
    margin-left: -100px;
    @media only screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.contributors {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  .contributor-title {
    /* Contributors */
    position: absolute;
    width: 316px;
    height: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    /* identical to box height, or 104% */

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    letter-spacing: 1px;
    color: #000000;

    @media only screen and (max-width: 768px) {
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
      width: 100%;
      padding: 5%;
      font-size: 40px;
    }

    .contributor-subtitle {
      position: absolute;
      top: -60px;
      margin: auto;
    }
  }
}

.work {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 50px;
  margin-top: 150px;
  padding: 50px;

  @media only screen and (max-width: 768px) {
    padding: 0;
  }

  .work-title {
    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    letter-spacing: 1px;
    color: #000000;
    .work-subtitle {
      position: absolute;
      margin-top: -60px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 40px;
      display: block;
      text-align: center;
    }
  }

  .work-content {
    display: flex;
    margin-top: 50px;
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
    .work-content-left {
      width: 55%;
      font-family: "Poppins";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.75px;
      color: #000000;
      @media only screen and (max-width: 768px) {
      font-size: 14px;
      }
      .work-text-lg {
        display: block;
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
      .work-text-md {
        display: none;
        @media only screen and (max-width: 768px) {
          display: block;
        }
      }
      @media only screen and (max-width: 768px) {
        width: 100%;
        opacity: 0.8;
        color: #4e4b66;
      }
      .btn {
        @media only screen and (max-width: 768px) {
          display: flex;
          justify-content: center;
          padding: 34px 0;
        }
      }
    }
    .work-content-right {
      padding: 34px 0;
      padding-top: 0;
      margin-top:-20px;
      @media only screen and (max-width: 768px) {
        width: 100%;
        margin-top:0;
      }
      .lottie{
        width: 481px;
        margin-top: -100px;
        @media only screen and (max-width: 768px) {
          width: 100%;
          margin-top: 0;
        }
      }
    }
    .work-content-right img {
      max-width: 100%;
    }
  }
}

.bg-gradient-1 {
  position: absolute;
  width: 593px;
  height: 593px;
  left: 1271px;
  top: 1079px;
  // background: red;
  background: linear-gradient(
      180deg,
      #e9eef3 0%,
      #99ccff 0.01%,
      #b29aff 50.31%,
      #fca9ff 100%
    ),
    #ff9191;
  filter: blur(400px);
  opacity: 0.6;
  z-index: 4;
  @media only screen and (max-width: 768px) {
    width: 112px;
    height: 112px;
    left: auto;
    right:10px;
    z-index: 10;
    // background: red;
    background: linear-gradient(180deg, #E9EEF3 0%, #99CCFF 0.01%, #B29AFF 50.31%, #FCA9FF 100%), #FF9191;
    filter: blur(120.742px);
    opacity: 1;
  }
}
.bg-gradient-2 {
  position: absolute;
  width: 593px;
  height: 593px;
  left: -410px;
  top: 1695px;
  // background: red;
  background: linear-gradient(
      180deg,
      #e9eef3 0%,
      #99ccff 0.01%,
      #b29aff 50.31%,
      #fca9ff 100%
    ),
    #ff9191;
  filter: blur(400px);
  opacity: 0.6;
  @media only screen and (max-width: 768px) {
    // background: red;
    width: 112px;
    height: 112px;
    left: -81px;
    background: linear-gradient(180deg, #E9EEF3 0%, #99CCFF 0.01%, #B29AFF 50.31%, #FCA9FF 100%), #FF9191;
    filter: blur(120.742px);
    opacity: 1;
  }
}
.bg-gradient-3 {
  position: absolute;
  width: 463px;
  height: 463px;
  left: 1283px;
  top: 2968px;
  // background: red;
  background: linear-gradient(0deg, #ff9191, #ff9191), #ff9191;
  opacity: 0.6;
  filter: blur(400px);
  @media only screen and (max-width: 768px) {
    background: linear-gradient(180deg, #E9EEF3 0%, #99CCFF 0.01%, #B29AFF 50.31%, #FCA9FF 100%), #FF9191;
    filter: blur(99.8314px);
    width: 148px;
    height: 148px;
    left: -86px;
    top: 2568px;
    opacity: 1;
  }
}
.bg-gradient-4 {
  position: absolute;
  width: 593px;
  height: 593px;
  left: -416px;
  top: 3548px;
  // background: red;
  background: linear-gradient(
      180deg,
      #e9eef3 0%,
      #99ccff 0.01%,
      #b29aff 50.31%,
      #fca9ff 100%
    ),
    #ff9191;
  filter: blur(400px);
  opacity: 0.6;
  z-index: -1;
  
  @media only screen and (max-width: 768px) {
    background: linear-gradient(0deg, #FF9191, #FF9191), #FF9191;
    opacity: 0.6;
    filter: blur(69.1145px);
    width: 112px;
    height: 112px;
    left: auto;
    right:-50px;
    top: 3210px;
  }
}


.bg-gradient-5 {
  display: none;
  position: absolute;
  // background: red;
  background: linear-gradient(180deg, #8440FF 0%, #FF9191 100%), #FF9191;
  opacity: 0.6;
  filter: blur(113.889px);
  z-index: -1;
  @media only screen and (max-width: 768px) {
    display: block;
    width: 164px;
    height: 164px;
    left: -114px;
    top: 3648px;
  }
}
